BOT_TOKEN=6194468069:AAG3J3VUAsuoZo0NRF33EvofIeJrqP1ZaGI
ADMIN_ID=896046901

COINGECKO_API_KEY=CG-zgUEPT3ump4LhBkrrkdVgCZu
CMC_API_KEY=deae502e255c4e3c8a91bd4688a5ce3b

DATABASE_URL=sqlite+aiosqlite:///./bot.db
